<h2>Edit delivery service regex</h2>

<%= render "form.html", changeset: @changeset,
                        action: html_deliveryservice_regex_path(@conn, :update, @deliveryservice_regex) %>

<%= link "Back", to: html_deliveryservice_regex_path(@conn, :index) %>
