<h2>New delivery service regex</h2>

<%= render "form.html", changeset: @changeset,
                        action: html_deliveryservice_regex_path(@conn, :create) %>

<%= link "Back", to: html_deliveryservice_regex_path(@conn, :index) %>
