<h2>Delivery Service Type</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @delivery_service_type.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @delivery_service_type.description %>
  </li>

  <li>
    <strong>Use in table:</strong>
    <%= @delivery_service_type.use_in_table %>
  </li>

</ul>

<%= link "Edit", to: html_delivery_service_type_path(@conn, :edit, @delivery_service_type) %>

<%= link "Back", to: html_delivery_service_type_path(@conn, :index) %>
