<h1>Users</h1>
<table class="table">
  <%= for user <- @users do %>
    <tr>
      <td><%= user.email %> (<%= user.role %> - <%= user.tenant %>)
        <%= link "View", to: user_path(@conn, :show, user) %>
      </td>
    </tr>
  <% end %>
</table>
