<%= if logged_in?(@conn) do %>
<li>
<strong><%= link "Sign out", to: session_path(@conn, :delete, :access),
		method: :delete, class: "btn" %></strong>
</li>
<strong><a href="<%= user_path(@conn, :show, current_user(@conn)) %>"> <%= current_user(@conn).email %></a></strong>
<% else %>
<li>
  <strong><a href="<%= user_path(@conn, :new) %>">Create Account</a></strong>
</li>
<li>
  <strong><a href="<%= session_path(@conn, :new) %>">Sign In</a></strong>
</li>
<% end %>
