<h2>Edit parameter</h2>

<%= render "form.html", changeset: @changeset,
                        action: html_parameter_path(@conn, :update, @parameter) %>

<%= link "Back", to: html_parameter_path(@conn, :index) %>
