<h2>Edit server type</h2>

<%= render "form.html", changeset: @changeset,
                        action: html_server_type_path(@conn, :update, @server_type) %>

<%= link "Back", to: html_server_type_path(@conn, :index) %>
