<h2>Edit html server</h2>

<%= render "form.html", changeset: @changeset,
                        action: html_server_path(@conn, :update, @html_server) %>

<%= link "Back", to: html_server_path(@conn, :index) %>
