<h2>Edit Delivery Service</h2>

<%= render "form.html", changeset: @changeset,
                        action: html_delivery_service_path(@conn, :update, @delivery_service) %>

<%= link "Back", to: delivery_service_path(@conn, :index) %>
