<h2>Edit cachegroup type</h2>

<%= render "form.html", changeset: @changeset,
                        action: html_cachegroup_type_path(@conn, :update, @cachegroup_type) %>

<%= link "Back", to: html_cachegroup_type_path(@conn, :index) %>
