<h2>New regex type</h2>

<%= render "form.html", changeset: @changeset,
                        action: html_regex_type_path(@conn, :create) %>

<%= link "Back", to: html_regex_type_path(@conn, :index) %>
