<h2>Edit profile parameter</h2>

<%= render "form.html", changeset: @changeset,
                        action: html_profile_parameter_path(@conn, :update, @profile_parameter) %>

<%= link "Back", to: html_profile_parameter_path(@conn, :index) %>
